table {
    table-layout: fixed;
    width: 100%;
}

th, td {
    /* border: 1px solid black; */
    text-align: center;
    padding: .5rem 2rem;
}

th {
    background-color: #242424;
}

tr:nth-child(odd) {
    background-color: #242424;
}

tr:nth-child(even) {
    /* background-color: rgb(243, 73, 101); */
    background-color: gray;
}

#addTable {
    border: 1px solid white;
}

.deleteBtn {
    background-color: rgb(202, 0, 0);
}

.addBtn {
    background-color: green;
}

select {

    appearance: none;
    font-size: 1rem;
    padding: .33rem;
    border-radius: 0.25rem;
    cursor: pointer;
    border: 1px solid silver;
    width: 5rem;
}

#quantityInput {
    font-size: 1rem;
    padding: .33rem;
    border-radius: .25rem;
    border: 1px solid silver;
    width: 5rem;
}